@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Playfair Display", serif;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.content-text {
    font-size: large;
}

.container {
    font-size: 22px;
}

.nav-list a {
font-weight: 550;
}

.nav-list a:hover {
color: #ef33d3;
transition: 0.2s;
}

p {
    max-width: 100%;
    word-wrap: break-word;
    padding: 0 15px;
    box-sizing: border-box;
}

.paragraph {
    max-width: 60opx;
}

.container {
    margin: 0 7rem;
    height: 100%;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

#home {
    height: 100vh;
background: #f5a2e0;
background: radial-gradient(circle, rgb(243, 170, 225) 0%, rgb(64, 177, 200) 100%);
    color: #fff;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
}

nav.logo {
    width: 50px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul a {
    color: #fff;
    padding: 20px;
}

#home .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70%;
}

#home .content img {
    width: 260px;
    height: 1000;
    border-radius: 30px;
    animation: animation1 1s ease-out;
}



#home .content .content-text h1 {
    font-size: 40;
    font-weight: 900;
    margin-bottom: 10px;
}

#home .content .content-text p {
    font-weight: 400;
    margin-bottom: 30px;
    line-height: 1.4;
    width: 60%;

}

.btn {
    font-size: 14px;
    font-weight: 600;
    padding: 10px 15px;
    background: #fff;
    color: black;
    border-radius: 30px;
    transition: all 0.2;
}

.btn:hover {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
}

.social {
    margin-left: 3rem;
    animation: animation1 1s ease-out;
}

.social i {
    color: #fff;
    font-size: 25px;
    margin: 10px 0;
}

.social i:hover {
    color: #a6069b;
    transition: 0.2s;
}

.Strawberry {
    display: block;
    width:116px;
    border-radius: 10px;
    margin: auto;
    animation: animation2 1s ease-out;
}

@keyframes animation1 {
    0%{
        transform: translateX(500px);
    }

    100%{
        transform: translateX(0);
    }
}

@keyframes animation2 {
    0%{
        transform: translateY(200px);
    }

    100%{
        transform: translateY(0);
    }
}

/*Tablet*/
@media (max-width: 900px) {
    container {
        margin: 0 1rem;
    }

    nav ul a {
        padding: 10px;
    }

    #home .content {
        flex-direction: column;
        text-align: center;
        padding: 2rem 0 0;
    }

    #home .content .content-text {
        margin-bottom: 2rem;
    }

    #home .content .content-text p {
        width: 150%;
    }

    .social {
        margin-left: 15;
        margin-bottom: 15px;
    }
}

/*Mobile*/
@media(max-width: 600px) {
    nav {
        display: block;
    }

    .paragraph {
        max-width: 95%;
        text-align: center;;
    }

    nav.logo {
        display: block;
        margin:  0 auto 15px;
    }

    nav ul {
        justify-content: center;
    }

    nav ul a {
         font-size: 16px;
    }

    .Strawberry {
        margin-top: 15px;
    }

    .btn {
        text-align: center;

    }
}
